<ion-app>

  <!-- MENÚ LATERAL -->
  <ion-menu contentId="main-content" type="overlay">

    <ion-header>
      <ion-toolbar>

        <div class="menu-brand">

          <!-- LOGO UAPA -->
          <div class="uapa-logo">
            <img
              src="https://imgs.search.brave.com/Gnz-S4suXXhS8LGn6Ld4nLlSSW4YUcxTv17NgmzcReU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/dWFwYS5lZHUuZG8v/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MDYvTG9nby1ibGFu/Y28tVUFQQS5wbmc"
              alt="Logo UAPA"
            />
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="brand-text">
            <span>Gestión de estudio</span>
          </div>

        </div>

      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list>

        <!-- INICIO -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/tabs/hoy"
            lines="none">

            <ion-icon
              slot="start"
              name="home-outline">
            </ion-icon>

            <ion-label>Inicio</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- ESTUDIAR -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/estudiar"
            lines="none">

            <ion-icon
              slot="start"
              name="play-circle-outline">
            </ion-icon>

            <ion-label>Estudiar</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- MATERIAS -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/materias"
            lines="none">

            <ion-icon
              slot="start"
              name="book-outline">
            </ion-icon>

            <ion-label>Materias</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- METAS -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/metas"
            lines="none">

            <ion-icon
              slot="start"
              name="trophy-outline">
            </ion-icon>

            <ion-label>Metas</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- CALENDARIO -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/calendario"
            lines="none">

            <ion-icon
              slot="start"
              name="calendar-outline">
            </ion-icon>

            <ion-label>Calendario</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- ESTADÍSTICAS -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/estadisticas"
            lines="none">

            <ion-icon
              slot="start"
              name="stats-chart-outline">
            </ion-icon>

            <ion-label>Estadísticas</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- ORGANIZACIÓN -->
        <div class="menu-section-title">
          ORGANIZACIÓN
        </div>


        <!-- HISTORIAL -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/historial"
            lines="none">

            <ion-icon
              slot="start"
              name="time-outline">
            </ion-icon>

            <ion-label>Historial</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- NOTAS -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/notas"
            lines="none">

            <ion-icon
              slot="start"
              name="document-text-outline">
            </ion-icon>

            <ion-label>Notas</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- HERRAMIENTAS -->
        <div class="menu-section-title">
          HERRAMIENTAS
        </div>


        <!-- LUGARES -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/lugares"
            lines="none">

            <ion-icon
              slot="start"
              name="location-outline">
            </ion-icon>

            <ion-label>Lugares</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- BLUETOOTH -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/bluetooth"
            lines="none">

            <ion-icon
              slot="start"
              name="bluetooth-outline">
            </ion-icon>

            <ion-label>Bluetooth</ion-label>

          </ion-item>
        </ion-menu-toggle>


        <!-- CUENTA -->
        <div class="menu-section-title">
          CUENTA
        </div>


        <!-- PERFIL -->
        <ion-menu-toggle>
          <ion-item
            button
            routerLink="/tabs/perfil"
            lines="none">

            <ion-icon
              slot="start"
              name="person-outline">
            </ion-icon>

            <ion-label>Mi perfil</ion-label>

          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>


  <!-- CONTENIDO PRINCIPAL -->
  <ion-router-outlet id="main-content">
  </ion-router-outlet>

</ion-app>
